#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---
- job_name: Jitsi Meet HTTP
  metrics_path: /probe
  params:
    module: ['http_2xx']
  static_configs:
    - targets:
      - "https://{{ jitsi_fqdn }}"
  relabel_configs:
    - source_labels: ['__address__']
      target_label: __param_target
    - source_labels: ['__param_target']
      target_label: instance
    - target_label: __address__
      replacement: 127.0.0.1:9115

- job_name: Jitsi Meet BOSH
  metrics_path: /probe
  params:
    module: ['http_2xx']
  static_configs:
    - targets:
      - "https://{{ jitsi_fqdn }}/http-bind"
  relabel_configs:
    - source_labels: ['__address__']
      target_label: __param_target
    - source_labels: ['__param_target']
      target_label: instance
    - target_label: __address__
      replacement: 127.0.0.1:9115

- job_name: "prometheus"
  metrics_path: "/prometheus/metrics"
  static_configs:
    - targets:
        - "127.0.0.1:9090"
  relabel_configs:
    - target_label: instance
      replacement: {{ ansible_local.aws_tags.name }}

- job_name: "alertmanager"
  metrics_path: "/alertmanager/metrics"
  static_configs:
    - targets:
        - "127.0.0.1:9093"
  relabel_configs:
    - target_label: instance
      replacement: {{ ansible_local.aws_tags.name }}

- job_name: jitsi-videobridges
  ec2_sd_configs:
    # jvbs jitsi-exporters
  {% for region in monitor_regions %}
    - region: "{{ region }}"
      port: 9700
      profile: "{{ ansible_local.aws_instance.instance_profile_arn }}"
      filters:
        - name: tag:Application
          values:
            - jvb
        - name: tag:Namespace
          values:
            - "{{ ansible_local.aws_tags.namespace }}"
        - name: tag:Stage
          values:
            - "{{ ansible_local.aws_tags.stage }}"
  {% endfor %}
  relabel_configs:
    - source_labels: [__meta_ec2_instance_id]
      target_label: instance_id
    - source_labels: [__meta_ec2_tag_Name]
      target_label: instance
    - source_labels: [__meta_ec2_tag_Namespace]
      target_label: namespace
    - source_labels: [__meta_ec2_tag_Stage]
      target_label: stage
    - source_labels: [__meta_ec2_tag_Project]
      target_label: project
- job_name: jitsi-masters
  ec2_sd_configs:
    # jitsi-master blackbox exporter
  {% for region in monitor_regions %}
    - region: "{{ region }}"
      profile: "{{ ansible_local.aws_instance.instance_profile_arn }}"
      port: 9115
      filters:
        - name: tag:Application
          values:
            - jitsi-master
        - name: tag:Namespace
          values:
            - "{{ ansible_local.aws_tags.namespace }}"
        - name: tag:Stage
          values:
            - "{{ ansible_local.aws_tags.stage }}"
  {% endfor %}
  relabel_configs:
    - source_labels: [__meta_ec2_instance_id]
      target_label: instance_id
    - source_labels: [__meta_ec2_tag_Name]
      target_label: instance
    - source_labels: [__meta_ec2_tag_Namespace]
      target_label: namespace
    - source_labels: [__meta_ec2_tag_Stage]
      target_label: stage
    - source_labels: [__meta_ec2_tag_Project]
      target_label: project
- job_name: nodes
  ec2_sd_configs:
  {% for region in monitor_regions %}
    - region: "{{ region }}"
      profile: "{{ ansible_local.aws_instance.instance_profile_arn }}"
      port: 9100
      filters:
        - name: tag:Namespace
          values:
            - "{{ ansible_local.aws_tags.namespace }}"
        - name: tag:Stage
          values:
            - "{{ ansible_local.aws_tags.stage }}"
  {% endfor %}
  relabel_configs:
    - source_labels: [__meta_ec2_instance_id]
      target_label: instance_id
    - source_labels: [__meta_ec2_tag_Name]
      target_label: instance
    - source_labels: [__meta_ec2_tag_Namespace]
      target_label: namespace
    - source_labels: [__meta_ec2_tag_Stage]
      target_label: stage
    - source_labels: [__meta_ec2_tag_Name]
      regex: ".*Packer Builder.*"
      action: drop

